<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vivaxy.alfred-workflow.open-in-webstorm</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>105E6B03-7713-4836-8436-7921E9DFA195</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6B52B39A-E134-4AA8-AB99-03DF53B4D897</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6B52B39A-E134-4AA8-AB99-03DF53B4D897</key>
		<array/>
		<key>B24C2639-501E-4FBF-B5AC-9D87A59EF9B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>596A21A4-4D7F-4C35-B688-554EE61DE1CC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>vivaxy</string>
	<key>description</key>
	<string>Open Projects in WebStorm</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Open in WebStorm</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>ws</string>
				<key>subtext</key>
				<string>Open Current File in webstorm</string>
				<key>text</key>
				<string>Open WebStorm</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B24C2639-501E-4FBF-B5AC-9D87A59EF9B5</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "Finder"
    set pathList to (quoted form of POSIX path of (folder of the front window as alias))
  end tell
  do shell script "open -na \"WebStorm.app\" --args " &amp; pathList
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>596A21A4-4D7F-4C35-B688-554EE61DE1CC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ws</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Select project</string>
				<key>title</key>
				<string>Open Project in WebStorm</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>105E6B03-7713-4836-8436-7921E9DFA195</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
  tell application "System Events"
    do shell script "open -na \"WebStorm.app\" --args \"" &amp; q &amp; "\""
  end tell
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>6B52B39A-E134-4AA8-AB99-03DF53B4D897</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>https://github.com/vivaxy/alfred-open-in-webstorm/blob/main/README.md</string>
	<key>uidata</key>
	<dict>
		<key>105E6B03-7713-4836-8436-7921E9DFA195</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>596A21A4-4D7F-4C35-B688-554EE61DE1CC</key>
		<dict>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
		<key>6B52B39A-E134-4AA8-AB99-03DF53B4D897</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>295</integer>
		</dict>
		<key>B24C2639-501E-4FBF-B5AC-9D87A59EF9B5</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>145</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>wds</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>wds</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/vivaxy/alfred-open-in-webstorm</string>
</dict>
</plist>
